<h1>All Pets at This Shelter</h1>
<a href="/shelters">Return to Shelters Index</a>
<br>
<br>
<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new"%>
<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
  <p><%= image_tag pet.image, width: 250 %></p>
  <p>Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Current Shelter: <%= pet.shelter.name %></p>
  <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %>
  <br>
  <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
<% end %>
