<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p> <%= @shelter.state %> <%= @shelter.zip%></p>

<%= link_to "Available Pets", "/shelters/#{@shelter.id}/pets"%>
<br>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<br>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
<br>
<%= link_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new"%>

<% @shelter.reviews.each do |review| %>
<section class='reviews-<%=review.id%>'>

  <h2><a href="/reviews/<%= review.id %>"><%= review.title %></a></h2>
  <p><%= image_tag review.optional_picture, width: 250 %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
  <br>
  <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
  </section>
<% end %>
