<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p> <%= @shelter.state %> <%= @shelter.zip%></p>


<%= link_to "Available Pets", "/shelters/#{@shelter.id}/pets"%>
<br>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<br>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
