<a href="/">Return to Home</a>
<h1>All Favorite Pets:</h1>

<% if favorites.contents_are_empty? %>
    <h3>You have no favorited pets</h3>
<% else %>
    <%= link_to "Remove ALL from Favorites", "/favorites", method: :delete  %>
    <br>
    <br>
    <%= link_to "Adopt my favorite pets", "favorites/pet_applications/new" %>
    <section class="favorite_pets">

    <% favorites.pets_by_id.each do |pet| %>

    <section class="favorite_pets-<%=pet.id%>">

      <h2><%= pet.name %></h2>
      <p><%= image_tag pet.image, width: 250 %></p>
      <%= button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
      <% end %>

    </section>
  </section>

<% end %>
<br>
<section class="pet_application_pets">
<h2> Pets with Applications </h2>

  <% pets_with_applications.each do |pet| %>
  <ul>
    <h4><%= link_to pet.name, "/pets/#{pet.id}" %></h4>
  </ul>
  <% end %>

</section>
